// Colors
$color-brownie: #484848;
$color-black: #17232c;
$color-dark-blue: #1f4965;
$color-facebook-blue: #3b5998;
$color-gray: #707070;
$color-white: #ffffff;
$color-pure-white: #fff;
$color-grey: #888888;
$color-pink-swan: #b8b8b8;
$color-blue-grey:#516575;
$color-thick-grey: #b3b3b3;

$color-mandy: #d84e59;
$color-cancel: #cdcdcd;

$color-grey2: #808080;
$color-lavender: #e6e6e9;
$color-night-rider: #333333;

$color-cinnabar: #e94c23;

$color-cloud-burst: #3a4354;
$color-dark-cerulean: #0b4b7d;
$color-label-blue: #1497ea;
$color-grey-chateau: #979ca6;
$color-solitude: #f1f2f4;
$color-azure: #f3f4f4;
$color-link-water: #cad0d5;
$color-nepal: #a0abb4;
$color-dark-gray: #a9a9a9;
$color-lightBlue: #44ade3;
$color-dark-blue: #3a4354;
$color-ink: #1e2b37;
$color-white-smoke: #f8f8f8;
$color-amethyst-smoke: #979197;
$color-whisper: #e6e6e6;
$color-dodger-blue: #1087ff;
$color-navy-blue: #006edc;
$color-pale-cornflower-blue: #a9d4ff;
$color-maya-blue: #76baff;
$color-shalimar: #ffffa9;
$color-laser-lemon: #ffff76;
$color-free-speech-red: #d10000;
$color-bismark: #506575;
$color-ghost-white: #f2f3fa;
$color-storm-grey: #7c7d81;
$color-alizarin: #ed1c24;
$color-ghost: #bcbcbd;
$color-hawkes-blue: #d8dae2;
$color-slate-grey: #767e8c;
$color-manatee: #888f9d;
$color-hawkes-blue2: #dee0e8;
$color-whisper: #e7e7e7;
$color-nobel: #9a9a9a;
$color-buffer: #f3f9fc;
$color-bismark2: #516575;
$color-neon-blue: #5762ef;
$color-grey-30: rgba(58, 67, 84, 0.3);
$color-pattens-blue: #e1eff7;
$color-label-primary: #0071bc;
$color-label-success: #54c500;
$color-label-warning: #f15a24;
$color-label-info: #00a99d;
$color-label-default: #808080;
$color-label-danger: #dc3545;
$color-thin-blue: #f3f9fc;
$color-red-gray: #c6c3c3;
$color-blue-zodiac: #3a4354;
$color-grey-light: #eef1f6;
$color-gray-chateau: #9da2ab;
$color-heather: #bbbdbe;
$color-mischka: #a9b0b9;
$color-light-blue: #f3f9fc;
$color-mischka2: #a5aab0;
$dark-grey: #9d9d9e;
$color-blue:#17a2b8;
$color-navbar-border : #a5a9b1;
$color-rect: #4e5664;
$color-horizantal-line : #7c7d81;
$color-amber : #ffbf00;
$color-update : #007bff;
$color-table-head : #eef1f6;
$color-zodiac : #343A40 ;

// Theme
$theme-primary: var(--theme-primary, $color-cloud-burst);
$theme-secondary: var(--theme-secondary, $color-dark-cerulean);